footer {
    width: 100%;
    height: 100px;
    background-color: rgb(71, 70, 70);
}

footer ul {
    margin:0px;
    padding-top: 20px;
}

footer li {
    list-style: none;
    color: white;

}

footer a {
    text-decoration: none;
    color: pink;
}
